.conteiner{
    background-color: var(--roxo-escuro);
    width:250px;
    height: 500px;
    display:flex;
    border-radius: 9px;
    transition: transform .25s;
    flex-direction: column;
    align-items: center;
    color:var(--cinza-claro);
    margin-right:15px;
    margin-bottom: 15px;
    padding: 10px;
    
}
.conteiner:hover{
    transform: scale(1.025);
    box-shadow: 0 0 15px var(--roxo-claro);
}

img{
    width: 180px;
    height: 200px;
    margin-top: 10px;
    padding: 10px;
}

h2{
    color:var(--cinza-claro);
    font-size: 24px;    
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
